#other-music-item
{
    -fx-background-color: #1b1c22;
}

@font-face
{
    font-family: "almarai";
    src: url("../font/Almarai-Light.ttf");
}

.information-music-item
{
    -fx-font-family: "almarai";
    -fx-font-size: 10px;
}



