#player
{
    -fx-background-color: #1b1c22;
}

#bcolor
{
    -fx-background-color: #1b1c22;
}

@font-face
{
    font-family: "almarai";
    src: url("../font/Almarai-Light.ttf");
}

.information-music
{
    -fx-font-family: "almarai";
    -fx-font-size: 12px;
    -fx-background-color: #1b1c22;
}

#other-music
{
    -fx-background-color: #1b1c22;
}
